<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <p class="title is-4 m-b-0 p-t-0">It should be okay to have abortions  <span class="th-300 f-15">31m</span></p>
        <p class="m-t-0 p-t-0 subtitle is-6">@1726tw6g36dg</p>
        <p class="title is-6 m-b-20 m-t-20">my experience: </p>
        <p class="subtitle is-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui corporis incidunt amet architecto blanditiis, nesciunt tempore hic ad explicabo nostrum delectus. Ad fuga perferendis impedit tempore at cupiditate tempora maxime.</p>
        <p class="title is-6 m-b-10 m-t-20">my feelings: </p>
        <span class="tag">sad</span> <span class="tag">angry</span>
        <p class="title is-6 m-b-20 m-t-20">my opinions: </p>
        <p class="subtitle is-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui corporis incidunt amet architecto blanditiis, nesciunt tempore hic ad explicabo nostrum delectus. Ad fuga perferendis impedit tempore at cupiditate tempora maxime.</p>
      </p>
    </div>
  </div>
</article>
    <nav class="navbar">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="" class="has-text-black">(30) agree</a>
        </div>
        <div class="navbar-item">
          <a href="" class="has-text-black">(10) disagree</a>
        </div>
<div class="dropdown is-hoverable navbar-item">
  <div class="dropdown-trigger">
    <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>more ...</span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">
          <a href="" class="has-text-black">raise</a>
      </div>
        <div class="dropdown-item">
          <a href="" class="has-text-black">is this unproductive?</a>
      </div>
    </div>
  </div>
</div>
    </nav>
    <hr>