<div class="section">
<div class="container">
<h1 class="f-50 th-300"><span class="th-700">hearing thread</span> goals:</h1>
<h3 class="f-30 th-300">1. create a safe place for everyone to share their views, stories, and perspectives around real world "touchy subjects". </h3>
<h3 class="f-30 th-300">2. allow everyones voice to be heard equally no matter socio demographic, gender, race, etc. </h3>
<h3 class="f-30 th-300">3. create productive conversation points in attempt to move people to see your point of view. </h3>
</div>
</div>
