
<div class="section">
<div class="container">
<div class="columns is-hidden-touch">
<div class="column is-7">
<h1 class="title f-50 th-700">thinking yarn brings opinions together, no matter where they come from</h1>
<h3 class="subtitle f-30">by creating a safe, non-biased environment for high stake, opinion varying conversations.</h3>
<button class="button is-primary is-large">sign up</button>
</div>
<div class="column">
<%= image_tag 'home_photo.png' %>
</div>
</div>
<div class="columns is-hidden-desktop">
<div class="column">
<%= image_tag 'home_photo.png' %>
</div>
<div class="column is-7">
<h1 class="title f-25 th-700">thinking yarn brings opinions together, no matter where they come from</h1>
<h3 class="subtitle f-20">by creating a safe, non-biased environment for high stake, opinion varying conversations.</h3>
<%= link_to "sign up", new_user_registration_path, :class => 'button is-primary'  %>
</div>
</div>
</div>
</div>